body {
	background-color: #f6bbf7;
}

#header-text {
	color: whitesmoke;
}
#container {
	background-color: blue;
	width: 1000px;
	height: 1000px;
	padding: 40px;
}

#content {
	background-color: green;
	display: inline-block;
	width: 320px;
	height: 320px;
	margin: 40px;
}
#content2 {
	background-color: black;
	width: 320px;
	height: 320px;
	margin: 40px;
}
#content3 {
	background-color: red;
	width: 320px;
	height: 320px;
	margin-left: 500px;
	margin-top: -750px;


}
#content4 {
	background-color: yellow;
	width: 320px;
	height: 320px;
	margin-left: 500px;
	margin-top: 50px;

}